
// variables
/* pallete */
    $primary: #00487C;
    $secondary:#004E65;
    $light: #FFFFFF;
    $accent: #FFEB03;
    
/* font sizes */
    $text-xxl: 4.8em;
    $text-xl: 3.6em;
    $text-l: 3.2em;
    $text-m: 2em;
    $text-s: 1.6em;
    $text-xs: 1.4em;

/* spacings */
    $sp-xxl: 12rem;
    $sp-xl: 8rem;
    $sp-l: 5rem;
    $sp-m: 3.2rem;
    $sp-s: 1.6rem;
    $sp-xs: 0.8rem;

    