#conozcanos {
    @include flex(row, no-wrap, center, stretch, 0);
    margin: 0 auto;
     h1{
        font-size: $text-l;
        padding: $sp-s $sp-s $sp-s $sp-l;
        font-weight: bold;
    }
     p{
        font-size: $text-s;
    }
}
.conozcanos--article--1{
    padding: $sp-m $sp-m $sp-m $sp-m;
    @include flex(row, no-wrap, center, stretch, 0);
}
.conozcanos--article--2{
    padding: $sp-s $sp-s $sp-s $sp-s;
    align-self: center;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:576px) {
    .conozcanos--article--2 img{
        max-width: 75%;
        max-height: 75%;
    }
    .conozcanos--article--1{
        p{
            max-width: 85%;
            max-height: 85%;
        }
        h1{
            max-width: 85%;
            padding-left: 15%;
        }
    } 
}   

#alianzas-certificaciones {
    margin: 0 auto;
    h2{
        font-size: $text-l;
    }
    p{
        font-size: $text-s;
    }
}

.titulo-alianzas{
    padding: $sp-s $sp-s $sp-s $sp-xl;

}

.iam{
    @include flex(row, no-wrap, center, stretch, 0);
    margin: 0 auto;
    padding-top: $sp-s;
    padding-bottom: $sp-s;
        &-parrafo {
            padding: 0 $sp-m 0 $sp-m;
            @include flex(row, no-wrap, center, stretch, 0);
        }
        &-alianzas{
            display: flex;
            justify-content: center;
            align-items: center;
        }
}

.ara{
    @include flex(row, no-wrap, center, stretch, 0);
    margin: 0 auto;
    padding-top: $sp-s;
    padding-bottom: $sp-s;
        &-parrafo {
            padding: 0 $sp-m 0 $sp-m;
            @include flex(row, no-wrap, center, stretch, 0);
        }
        &-alianzas{
            @include flex(row, no-wrap, center, center, 0);
        }
}

.ima{
    @include flex(row, no-wrap, center, center, 0);
    margin: 0 auto;
    padding-top: $sp-s;
    padding-bottom: $sp-s;
        &-parrafo {
            padding: 0 $sp-m 0 $sp-m;
            @include flex(row, no-wrap, center, stretch, 0);
        }
        &-alianzas{
            @include flex(row, no-wrap, center, center, 0);
        }
}

.moverspoe{
    @include flex(row, no-wrap, center, center, 0);
    margin: 0 auto;
    padding-top: $sp-s;
    padding-bottom: $sp-s;
        &-parrafo {
            padding: 0 $sp-m 0 $sp-m;
            @include flex(row, no-wrap, center, stretch, 0);
        }
        &-alianzas{
            @include flex(row, no-wrap, center, center, 0);
        }
}
 
@media screen and (max-width:576px){
    .iam-parrafo {
        padding: 0 $sp-m 0 $sp-m;
        @include flex(row, no-wrap, center, stretch, 0);
    }
    .ara-parrafo {
        padding: 0 $sp-m 0 $sp-m;
        @include flex(row, no-wrap, center, stretch, 0);
    }
    .ima-parrafo {
        padding: 0 $sp-m 0 $sp-m;
        @include flex(row, no-wrap, center, stretch, 0);
    }
    .moverspoe-parrafo {
        padding: 0 $sp-m 0 $sp-m;
        @include flex(row, no-wrap, center, stretch, 0);
    }
  }

.separador{
    &-1{
        background-color: $primary;
        height: $sp-s;
        grid-column: 7 / 13;
        grid-row: 3 / 4;
        align-self: center;
    }
    &-2{
        background-color: $primary;
        height: $sp-s;
        grid-column: 1 / 8;
        grid-row: 6 / 7;
    }
    &-3{
        background-color: $primary;
        height: $sp-s;
        grid-column: 7 / 13;
        grid-row: 8 / 9;
        align-self: center;
    }
}
