.presupuesto-embajadas{
    background-color: $primary;
    color: $light;
    font-size:$text-xl;
}
.formulario-embajada h2{
    font-size: $text-l;
}
.formulario-embajada h3{
    font-size:$text-s;
}


#servicio-embajadas h1{
    font-size: $text-xxl;
}
#servicio-embajadas p{
    font-size: $text-s;
}
.enviar{
    background-color: $accent;
    color: $primary;
}
.reset{
    color: $primary;
}